<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul class="list-group">
    <li class="list-group-item"><a href="/celebrities/create">Create a celebrity</a><hr></li>
    <li class="list-group-item"><a href="/celebrities">Show celebrities</a><hr></li>
    <li class="list-group-item"><a href="/movies/create">Create movies</a><hr></li>
    <li class="list-group-item"><a href="/movies">Show movies</a></li>
    
</ul>

